@model Totalligent.UI.Models.AdminModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="@Url.Content("~/Content/material-dashboard.css")" rel="stylesheet" />
}
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../Content/images/bg7.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo bg-violet card card-profile no-shadow m-t-15 m-b-15 hide">
            <div class="card-avatar card-avatar-min m-auto">
                <a href="#pablo">
                    <img class="img" src="/Content/images/marc.jpg">
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Alec Thompson</h4><h6 class="card-category text-white dull-text">AMI SAOG ADMIN</h6>
                <h6 class="card-title text-white dull-text" style="font-style: normal;font-size: 10px;">
                    Last Logged in: 05-04-2020
                </h6>
            </div>
        </div>
        <div class="user">
            <div class="photo">
                <img src="/Content/images/marc.jpg">
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        Tania Andrew
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hide">

            @if (ViewBag.RoleId == 1 || ViewBag.RoleId == 2)
            {
                <a href="#" class="simple-text logo-normal">

                    VIDAL HEALTH CARE
                </a>
            }
        </div>
        <div class="logo hide text-center">
            @if (ViewBag.UserName != null)
            {
                <label>@ViewBag.UserName<br /> @DateTime.Now.ToShortDateString()</label>

            }
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" id="anchorRegister" href="#">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Masters" href="#">
                        <i class="material-icons">note_add</i>
                        <p>Master</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" id="Quotation" href="#">
                        <i class="material-icons">assignment</i>
                        <p>Quotation</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">policy</i>
                        <p>Policy</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">contact_mail</i>
                        <p>Card Issuance</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <i class="material-icons">dashboard</i>
                        <p>Endorsement</p>
                    </a>
                </li>
                @if (ViewBag.RoleId == 1)
                {
                    <li class="nav-item">
                        <a class="nav-link" id="EmpRegister" href="#">
                            <i class="material-icons">person</i>
                            <p>Register New User</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="RaiseTicket" href="#">
                            <i class="material-icons">error</i> Tickets
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="sidebar-background" style="background-image: url(../Content/images/bg7.jpg);"></div>
    </div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                            <i class="material-icons text_align-center visible-on-sidebar-regular">menu</i>
                            <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                        </button>
                    </div>
                    <a class="navbar-brand" href="#pablo">Dashboard<div class="ripple-container"></div></a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <form class="navbar-form">
                        <div class="input-group no-border">
                            <input type="text" value="" class="form-control" placeholder="Search...">
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <i class="material-icons">dashboard</i>
                                <p class="d-lg-none d-md-block">
                                    Stats
                                </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">notifications</i>
                                <span class="notification">5</span>
                                <p class="d-lg-none d-md-block">
                                    Some Actions
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                <a class="dropdown-item" href="#">Another Notification</a>
                                <a class="dropdown-item" href="#">Another One</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">person</i>
                                <p class="d-lg-none d-md-block">
                                    Account
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Home/Login">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content" id="divMainContent">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon" data-header-animation="true">
                                <div class="card-icon">
                                    <i class="material-icons">note_add</i>
                                </div>
                            </div>
                            <div class="card-body card-InnerHeader">
                                <h5 class="card-title">Master</h5>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-danger">warning</i>
                                    <a href="#pablo">Get More Space...</a>
                                </div>
                                <i class="material-icons text_align-center ">arrow_forward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-rose card-header-icon" data-header-animation="true">
                                <div class="card-icon">
                                    <i class="material-icons">assignment</i>
                                </div>
                            </div>
                            <div class="card-body card-InnerHeader">
                                <h5 class="card-title">Quotation</h5>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Manage Quotations
                                </div>
                                <i class="material-icons text_align-center ">arrow_forward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon" data-header-animation="true">
                                <div class="card-icon">
                                    <i class="material-icons">policy</i>
                                </div>
                            </div>
                            <div class="card-body card-InnerHeader">
                                <h5 class="card-title">Policy</h5>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">date_range</i> Last 24 Hours
                                </div>
                                <i class="material-icons text_align-center ">arrow_forward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon" data-header-animation="true">
                                <div class="card-icon">
                                    <i class="material-icons">contact_mail</i>
                                </div>
                            </div>
                            <div class="card-body card-InnerHeader">
                                <h5 class="card-title">Medical Cards</h5>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                                <i class="material-icons text_align-center ">arrow_forward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon" data-header-animation="true">
                                <div class="card-icon">
                                    <i class="material-icons">policy</i>
                                </div>
                            </div>
                            <div class="card-body card-InnerHeader">
                                <h5 class="card-title">Endorsement</h5>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">date_range</i> Last 24 Hours
                                </div>
                                <i class="material-icons text_align-center ">arrow_forward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon" data-header-animation="true">
                                <div class="card-icon">
                                    <i class="material-icons">contact_mail</i>
                                </div>
                            </div>
                            <div class="card-body card-InnerHeader">
                                <h5 class="card-title">Dashboard</h5>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                                <i class="material-icons text_align-center ">arrow_forward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-primary card-header-icon" data-header-animation="true">
                                <div class="card-icon">
                                    <i class="material-icons">person_add</i>
                                </div>
                            </div>
                            <div class="card-body card-InnerHeader">
                                <h5 class="card-title">Register User</h5>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                                <i class="material-icons text_align-center ">arrow_forward</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-primary card-header-icon" data-header-animation="true">
                                <div class="card-icon">
                                    <i class="material-icons">person_add</i>
                                </div>
                            </div>
                            <div class="card-body card-InnerHeader">
                                <h5 class="card-title">View Tickets</h5>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                                <a href="Admin/ViewTickets"> <i class="material-icons text_align-center ">arrow_forward</i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row hide">
                    <div class="card card-nav-tabs">
                        <div class="card-header card-header-primary">
                            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#profile" data-toggle="tab">
                                                <i class="material-icons">face</i> Profile
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#MasterData" data-toggle="tab">
                                                <i class="material-icons">cloud_upload</i> Master Data Upload
                                            </a>
                                        </li>
                                        @if (ViewBag.RoleId == 3)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="#RegisterClient" data-toggle="tab">
                                                    <i class="material-icons">person_add</i> Register New Client
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#ViewClient" data-toggle="tab">
                                                    <i class="material-icons">search</i> View Existing Client
                                                </a>
                                            </li>
                                        }
                                        @if (ViewBag.RoleId == 1 || ViewBag.RoleId == 2)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="#RegisterInsCompany" data-toggle="tab">
                                                    <i class="material-icons">person_add</i> Register New Insurance Company
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#ViewInsCompany" data-toggle="tab">
                                                    <i class="material-icons">search</i> View Existing Insurance Company
                                                </a>
                                            </li>
                                        }
                                        @if (ViewBag.RoleId == 1)
                                        {
                                            @*<li class="nav-item">
                                                    <a class="nav-link" href="#RaiseTicket" data-toggle="tab">
                                                        <i class="material-icons">error</i> Raise a Ticket
                                                    </a>
                                                </li>*@
                                        }
                                        @if (ViewBag.RoleId == 2)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="#" data-toggle="tab">
                                                    <i class="material-icons">error</i> View Ticket
                                                </a>
                                            </li>
                                        }
                                        <li class="nav-item">
                                            <a class="nav-link" href="#QuotationMaster" data-toggle="tab">
                                                <i class="material-icons">cloud_upload</i> Quotation Master
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="profile">
                                    @Html.Partial("_Profile", TempData["Data"])
                                </div>
                                <div class="tab-pane" id="MasterData">
                                    <div class="row m-b-15">
                                        <div class="col-md-4">
                                            <label class="col-sm-12 col-form-label text-right">Select Master Upload Type</label>
                                        </div>
                                        <div class="col-md-4 demo-section k-content">
                                            @(Html.Kendo().DropDownList()
                                                                                                                                                                    .Name("size")
                                                                                                                                                                    .BindTo(new List<string>() {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              "Broker Name",
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              "Agent Name",
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              "Re-Insurer Name",
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              "Category Master",
                                                                                                                                                                    })
                                                                                                                                                                    .HtmlAttributes(new { style = "width: 100%", accesskey = "w" })
                                            )
                                        </div>
                                        <div class="col-md-2 text-left">
                                            <button type="submit" id="btnViewClients" class="btn btn-primary btn-fab btn-round btn-sm ">
                                                <i class="material-icons">search</i>
                                            </button>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="row m-b-15">
                                                <div class="col-md-4">
                                                    <label for="inputName" class="col-sm-12 col-form-label text-right">Broker Name</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder="Name">
                                                    @*@Html.TextBoxFor(m => m.ClientName, new { id = "txtClientName", oninvalid = "this.setCustomValidity('Client Name required: Rajesh R')", @required = "required", oninput = "setCustomValidity('')", @class = "form-control", placeholder = "Name of the Company" })*@
                                                </div>
                                            </div>

                                            <div class="row m-b-15">
                                                <div class="col-md-4">
                                                    <label for="inputName" class="col-sm-12 col-form-label text-right">Address of Broker</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder="Address">
                                                </div>
                                            </div>

                                            <div class="row m-b-15">
                                                <div class="col-md-4">
                                                    <label for="inputName" class="col-sm-12 col-form-label text-right">State</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder="State">
                                                </div>
                                            </div>

                                            <div class="row m-b-15">
                                                <div class="col-md-4">
                                                    <label for="inputName" class="col-sm-12 col-form-label text-right">Contact Person</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder="Name">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="row m-b-15">
                                                <div class="col-md-4">
                                                    <label for="inputName" class="col-sm-12 col-form-label text-right">Broker Code</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder="Code">
                                                    @*@Html.TextBoxFor(m => m.ClientName, new { id = "txtClientName", oninvalid = "this.setCustomValidity('Client Name required: Rajesh R')", @required = "required", oninput = "setCustomValidity('')", @class = "form-control", placeholder = "Name of the Company" })*@
                                                </div>
                                            </div>
                                            <div class="row m-b-15">
                                                <div class="col-md-4">
                                                    <label for="inputName" class="col-sm-12 col-form-label text-right">City</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder="City">
                                                </div>
                                            </div>
                                            <div class="row m-b-15">
                                                <div class="col-md-4">
                                                    <label for="inputName" class="col-sm-12 col-form-label text-right">Zipcode</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" placeholder="Zipcode">
                                                </div>
                                            </div>
                                            <div class="row m-b-15">
                                                <div class="col-md-4">
                                                    <label for="inputName" class="col-sm-12 col-form-label text-right">Email ID</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="email" class="form-control" placeholder="email-id">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="submit" id="btnSubmit" class="btn btn-primary m-l-10 m-r-10">Create Broker</button>

                                        <button type="submit" id="btnSubmit" class="btn btn-default m-l-10 m-r-10">Upload Bulk Master</button>
                                    </div>
                                    <div class="hide">
                                        <div class="row m-b-15">
                                            <div class="col-md-4">
                                                <label for="inputName" class="col-sm-12 col-form-label text-right">Client Company Master</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="demo-section k-content">
                                                    @(Html.Kendo().Upload().Name("Clientfiles").HtmlAttributes(new { aria_label = "files" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-b-15">
                                            <div class="col-md-4">
                                                <label for="inputName" class="col-sm-12 col-form-label text-right">Broker Master</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="demo-section k-content">
                                                    @(Html.Kendo().Upload()
                                                                                                                                                                                                                                                                                                                                                                                        .Name("Brokerfiles")
                                                                                                                                                                                                                                                                                                                                                                                        .HtmlAttributes(new { aria_label = "files" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-b-15">
                                            <div class="col-md-4">
                                                <label for="inputName" class="col-sm-12 col-form-label text-right">Agent Master</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="demo-section k-content">
                                                    @(Html.Kendo().Upload()
                                                                                                                                                                                                                                                                                                                                                                                .Name("Agentfiles")
                                                                                                                                                                                                                                                                                                                                                                                .HtmlAttributes(new { aria_label = "files" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-b-15">
                                            <div class="col-md-4">
                                                <label for="inputName" class="col-sm-12 col-form-label text-right">Network Master</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="demo-section k-content">
                                                    @(Html.Kendo().Upload()
                                                                                                                                                                                                                                                                                                                                                                        .Name("Networkfiles")
                                                                                                                                                                                                                                                                                                                                                                        .HtmlAttributes(new { aria_label = "files" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-b-15">
                                            <div class="col-md-4">
                                                <label for="inputName" class="col-sm-12 col-form-label text-right">Category Master</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="demo-section k-content">
                                                    @(Html.Kendo().Upload()
                                                                                                                                                                                                                                                                                                                                                                .Name("Categoryfiles")
                                                                                                                                                                                                                                                                                                                                                                .HtmlAttributes(new { aria_label = "files" })
                                                    )
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="RegisterClient">
                                    @Html.Partial("_ClientRegistration")
                                </div>
                                <div class="tab-pane" id="ViewClient">
                                    @Html.Partial("_ViewClients");
                                </div>

                                <div class="tab-pane" id="RegisterInsCompany">
                                    @Html.Partial("_RegisterInsCompany")
                                </div>
                                <div class="tab-pane" id="ViewInsCompany">
                                    @Html.Partial("_ViewInsCompany");
                                </div>

                                @if (ViewBag.RoleId == 1)
                                {

                                    <div class="tab-pane" id="ViewTicket">
                                        @Html.Partial("_ViewTicket");
                                    </div>
                                }


                                <div class="tab-pane" id="QuotationMaster">
                                    Sample Content is here
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Tabs with icons on Card -->
                </div>
            </div>
        </div>
        @if (ViewBag.RoleId == 1)
        {
            <div class="content" id="divEmpRegister">
                <div class="container-fluid">
                    @Html.Partial("_EmployeeRegister")
                </div>
            </div>
        }
       
        <div class="content" id="divQuotation">
            <div class="container">
                @Html.Partial("_Quotation")
            </div>
        </div>
        <div class="content" id="divMasters">
            <div class="container-fluid">
                @Html.Partial("_Masters")
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li>
                            <a href="https://www.totalligent.com">
                                Totalligent
                            </a>
                        </li>
                        <li>
                            <a href="http://totalligent.com/about-us.html">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Services
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, made with <i class="material-icons">favorite</i> by
                    <a href="https://www.totalligent.com" target="_blank">Totalligent</a> for a better web.
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#divEmpRegister").css("display", "none");
        $("#EmpRegister").click(function () {
            $("#divMainContent").css("display", "none");
            $("#divEmpRegister").css("display", "block");
            $("#divMasters").css("display", "none");
            $("#divQuotation").css("display", "none");
            //$("#divMainContent").hide();
            //$("#divEmpRegister").show();
        });
        $("#Quotation").click(function () {
            $("#divMainContent").css("display", "none");
            $("#divEmpRegister").css("display", "none");
            $("#divQuotation").css("display", "block");
            $("#divMasters").css("display", "none");
            $('html').addClass('sidebar-mini');
            //$("#divMainContent").hide();
            //$("#divEmpRegister").show();
        });
        $("#Masters").click(function () {
            $("#divMainContent").css("display", "none");
            $("#divEmpRegister").css("display", "none");
            $("#divQuotation").css("display", "none");
            $("#divMasters").css("display", "block");
            //$("#divMainContent").hide();
            //$("#divEmpRegister").show();
        });
        $("#anchorRegister").click(function () {
            $("#divEmpRegister").css("display", "none");
            $("#divMainContent").css("display", "block");
            $("#divMasters").css("display", "none");
            $("#divQuotation").css("display", "none");
            //$("#divEmpRegister").show();
            //$("#divMainContent").hide();
        });

        demo.initMaterialWizard();
    });
    $('.sidebar-wrapper li > a').click(function () {
        $('.sidebar-wrapper li').removeClass('active');
        $(this).parent().addClass('nav-item active');
    });
</script>