@model Totalligent.BusinessEntities.ClientCompanyMaster
@Scripts.Render("~/Content/vendor/jquery-3.3.1/jquery-3.3.1.js")
@{
    ViewBag.Title = "ClientMaster";
    Layout = "~/Areas/GroupLifeInsurance/Views/Shared/_Layout.cshtml";
}

@{ List<SelectListItem> BankList = new List<SelectListItem>();
    BankList.Add(new SelectListItem
    {
        Text = "Axis Bank",
        Value = "AxisBank"
    });
    BankList.Add(new SelectListItem
    {
        Text = "HDFC Bank",
        Value = "HDFC"
    });
    BankList.Add(new SelectListItem
    {
        Text = "Kotak Mahindra Bank",
        Value = "Kotak"
    });
    BankList.Add(new SelectListItem
    {
        Text = "State Bank of India",
        Value = "SIBBank",
    }); }
@Html.AntiForgeryToken()
<div class="p-t-30">
    <div class="box">
        <div class="box-header with-border">
            <ul class="nav nav-pills justify-content-center mb-0">
                <li class=" nav-item flex-fill text-center"> <a href="#navpills2-1" class="nav-link active" data-toggle="tab" aria-expanded="false"><i class="fa fa-building-o mr-3"></i>Client Company Master</a> </li>
                <li class="nav-item flex-fill text-center"> <a href="#navpills2-2" class="nav-link" data-toggle="tab" aria-expanded="false"><i class="fa fa-search mr-3"></i>Search Client Company Master</a> </li>
            </ul>
        </div>
        <div class="box-body">
            <div class="tab-content">
                <div id="navpills2-1" class="tab-pane active">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="col-sm-12 font-weight-bold text-center">Client Company Basic Details</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label for="BankName" class="col-form-label text-md-right w-full">Insurance Company Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownList("BankName", BankList, "-- Select Insurance Company --", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.LabelFor(model => model.ClientCompanyName, htmlAttributes: new { @class = "col-form-label text-md-right w-full" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ClientCompanyName, new { @required = "required", @class = "form-control", placeholder = "Enter Client Company Name" })
                                            @Html.ValidationMessageFor(model => model.ClientCompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "col-form-label text-md-right w-full" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ContactPerson, new { @required = "required", @class = "form-control", placeholder = "Enter Contact Person Name" })
                                            @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "col-form-label text-md-right w-full" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.MobileNumber, new { @required = "required", @class = "form-control", placeholder = "Enter Mobile Number" })
                                            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "col-form-label text-md-right w-full" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.EmailId, new { @required = "required", @class = "form-control", placeholder = "Enter Email Id" })
                                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-form-label text-md-right w-full" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.Address, new { @required = "required", @class = "form-control", placeholder = "Enter Client Company Address" })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">City</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ClientCompanyName, new { @required = "required", @class = "form-control", placeholder = "Enter City Name" })
                                            @Html.ValidationMessageFor(model => model.ClientCompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">State</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ClientCompanyName, new { @required = "required", @class = "form-control", placeholder = "Enter State" })
                                            @Html.ValidationMessageFor(model => model.ClientCompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="col-form-label text-md-right w-full">Zipcode</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.ClientCompanyName, new { @required = "required", @class = "form-control", placeholder = "Enter Zipcode" })
                                            @Html.ValidationMessageFor(model => model.ClientCompanyName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-b-15">
                                    <div class="row">
                                        <div class="col-md-5">
                                            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "col-form-label text-md-right w-full" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.Currency, new { @required = "required", @class = "form-control", placeholder = "Enter Currency" })
                                            @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-12 col-md-10">
                                        <h4 class="col-sm-12 font-weight-bold text-center">Client's Business Information</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="BankName" class="col-form-label text-md-right w-full">Line of Business</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("BankName", BankList, "-- Select Business --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="BankName" class="col-form-label text-md-right w-full">Producer Type</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("BankName", BankList, "-- Select Producer Type --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="BankName" class="col-form-label text-md-right w-full">Producer Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("BankName", BankList, "-- Producer Name --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="col-form-label text-md-right w-full">Producer Commission</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.ClientCompanyName, new { @class = "form-control w-full", @placeholder = "Enter Producer Commission" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="BankName" class="col-form-label text-md-right w-full">RI Number</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("BankName", BankList, "-- Select RI Number --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="BankName" class="col-form-label text-md-right w-full">RI Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("BankName", BankList, "-- Select RI Name --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="col-form-label text-md-right w-full">RI Retention</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.ClientCompanyName, new { @class = "form-control w-full", @placeholder = "Enter RI Retention" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="col-form-label text-md-right w-full">AMI Retention</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.ClientCompanyName, new { @class = "form-control w-full", @placeholder = "Enter AMI Retention" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-12 col-md-10">
                                        <h4 class="col-sm-12 font-weight-bold text-center">Client's Account Details</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="BankName" class="col-form-label text-md-right w-full">Bank Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("BankName", BankList, "-- Select Bank --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="col-form-label text-md-right w-full">Account Number</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.ClientCompanyName, new { @class = "form-control w-full", @placeholder = "Enter Account Number" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="col-form-label text-md-right w-full">Repeat Account Number</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.ClientCompanyName, new { @class = "form-control w-full", @placeholder = "Enter Account Number" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="col-form-label text-md-right w-full">IFSC Code</label>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(model => model.ClientCompanyName, new { @class = "form-control w-full", @placeholder = "Enter IFSC Code" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="col-form-label text-md-right w-full">Upload KYC</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class=" dropzone" action="/file-upload">
                                            <div id="tabs-3">
                                                <div class="row field ">
                                                    <div id="dropzoneWrapper" class="dz-default dz-message col-12">
                                                        <i class="mdi mdi-cloud-upload font-size-30 text-muted"></i>
                                                        <h5>Drop files here or click to Upload</h5>
                                                        <div id="dropZoneContainer">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group m-b-15">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <input type="submit" id="btnClientMaster" value="Create" class="btn btn-primary m-20" />
                                        <button class="btn btn-primary-login m-20" type="button" data-toggle="modal" data-target="#uploadBulk">
                                            <i class="mdi mdi-cloud-upload"></i> Bulk Upload Policy
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="navpills2-2" class="tab-pane ">
                    <div class="card no-shadow">
                        <div class="card-body form-horizontal">
                            <div class="row ">
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.ClientCompanyName, new { @class = "form-control w-full", @placeholder = "Enter Client Company Name" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.ClientCompanyName, new { @class = "form-control w-full", @placeholder = "Enter Client Company Code" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.ClientCompanyName, new { @class = "form-control w-full", @placeholder = "Enter City" })
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-block btn-primary"><i class="fa fa-search mr-3"></i>Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Search Results:</h5>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Relation</th>
                                <th>Age</th>
                                <th>Nationality</th>
                                <th>Category</th>
                                <th>Salary</th>
                                <th>EAW</th>
                                <th>Mobile Number</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0)">Sandy</a></td>
                                <td>Male</td>
                                <td><span class="badge badge-pill badge-primary">Self</span></td>
                                <td>53</td>
                                <td>Indian</td>
                                <td>Band A</td>
                                <td>50,00,000</td>
                                <td>EAW - 1</td>
                                <td>+91 9094314558</td>
                                <td class="text-center"><i class="mdi mdi-pencil text-primary mx-3"></i><i class="mdi mdi-delete text-danger mx-3"></i></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0)">Kajal</a></td>
                                <td>Female</td>
                                <td><span class="badge badge-pill badge-warning">Spouse</span></td>
                                <td>48</td>
                                <td>Indian</td>
                                <td>Band A</td>
                                <td>45,00,000</td>
                                <td>EAW - 1</td>
                                <td>+91 9094314558</td>
                                <td class="text-center"><i class="mdi mdi-pencil text-primary mx-3"></i><i class="mdi mdi-delete text-danger mx-3"></i></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0)">Slyvia</a></td>
                                <td>Female</td>
                                <td><span class="badge badge-pill badge-warning">Spouse</span></td>
                                <td>45</td>
                                <td>Indian</td>
                                <td>Band A</td>
                                <td>57,00,000</td>
                                <td>EAW - 1</td>
                                <td>+91 9094314558</td>
                                <td class="text-center"><i class="mdi mdi-pencil text-primary mx-3"></i><i class="mdi mdi-delete text-danger mx-3"></i></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0)">Sam</a></td>
                                <td>Male</td>
                                <td><span class="badge badge-pill badge-danger">Child</span></td>
                                <td>10</td>
                                <td>Indian</td>
                                <td>Band A</td>
                                <td>N/A</td>
                                <td>EAW - 1</td>
                                <td>N/A</td>
                                <td class="text-center"><i class="mdi mdi-pencil text-primary mx-3"></i><i class="mdi mdi-delete text-danger mx-3"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="box-footer text-right">
            <button class="btn btn-rounded btn-primary">Submit</button>
            <button class="btn btn-rounded btn-secondary">Cancel</button>
        </div>
    </div>
</div>
<div id="uploadBulk" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="uploadBulkLabel">Upload Bulk Policies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <div class="text-right">

                            <a href="~/Masters/ProducerMaster.xlsx" class="btn btn-dark btn-sm" download>
                                <i class="fas fa-download fa-sm"></i> Download Sample format
                            </a>
                        </div>
                        @*
                            <form method="post" enctype="multipart/form-data">
                        *@
                        <div class="fileuploader fileuploader-theme-dragdrop">

                            <input type="file" name="postedFile" id="fileUploadMotor" accept=".xls,.xlsx" />
                            <input type="hidden" id="txtMotorMaster" name="txtMotorMaster" value="2">
                            <input type="hidden" name="fileuploader-list-files" value="[]">
                            <input type="file" name="files[]" multiple="multiple" style="position: absolute; z-index: -9999; height: 0px; width: 0px; padding: 0px; margin: 0px; line-height: 0; outline: 0px; border: 0px; opacity: 0;">
                            <div class="fileuploader-input">
                                <div class="fileuploader-input-inner">
                                    <div class="fileuploader-icon-main"></div>
                                    <h3 class="fileuploader-input-caption">
                                        <span>Drag and drop files here</span>
                                    </h3>
                                    <p></p>
                                    <button type="button" class="fileuploader-input-button">
                                        <span>Browse files</span>
                                    </button>
                                </div>
                            </div>
                            <div class="fileuploader-items">
                                <ul class="fileuploader-items-list">
                                    <li class="fileuploader-item file-type-application file-ext-xlsx file-has-popup upload-successful">
                                        <div id="fileContainer" class="columns" style="display: none;">
                                            <div class="column-thumbnail">
                                                <div class="fileuploader-item-image fileuploader-no-thumbnail">
                                                    <div style="background-color: #591605" class="fileuploader-item-icon">
                                                        <i>xlsx</i>
                                                    </div>
                                                </div>
                                                <span class="fileuploader-action-popup"></span>
                                            </div>
                                            <div class="column-title">
                                                <div id="fileName">SampleFile.xlsx</div>
                                                <span id="fileSize">0 KB</span>
                                            </div>
                                            <div class="column-actions">
                                                <button type="button" id="clearFiles" class="btn btn-success btn-sm round" title="Delete">
                                                    <i class="fas fa-check fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="progress-bar2" style="display: none;">
                                            <div class="fileuploader-progressbar">
                                                <div class="bar" style="width: 100%;"></div>
                                            </div>
                                            <span>100%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-2">
                                <button id="btnUpload" type="submit" class="btn btn-success btn-block">
                                    <i class="fas fa-upload fa-sm"></i>
                                    <span>Upload</span>
                                </button>
                            </div>
                        </div>
                        @*
                            </form>
                        *@
                    </div>
                </div>
            </div>
            @*
                <div class="modal-footer justify-content-center">
                   <button type="button" class="btn btn-secondary btn-sm waves-effect" data-dismiss="modal">Close</button>
                   <button type="button" class="btn btn-primary btn-sm waves-effect waves-light">Renew</button>
                </div>
            *@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

    $(function () {
        $('#btnClientMaster').click(function (e) {
            e.preventDefault();
            var formData = new FormData();
            formData.append("ClientCompanyName", $("#ClientCompanyName").val());
            formData.append("Address", $("#Address").val());
            formData.append("City", $("#City").val());
            formData.append("State", $("#State").val());
            formData.append("Zipcode", $("#Zipcode").val());
            formData.append("ContactPerson", $("#ContactPerson").val());
            formData.append("MobileNumber", $("#MobileNumber").val());
            formData.append("EmailId", $("#EmailId").val());
            formData.append("Currency", $("#Currency").val());
            formData.append("Provider", $("#Provider").val());
            formData.append("ProviderCommission", $("#ProviderCommission").val());
            formData.append("ReInsurer", $("#ReInsurer").val());
            formData.append("ReInsurerRate", $("#ReInsurerRate").val());

            $.ajax({
                type: "POST",
                url: "/ClientCompany/Create",
                data: formData,
                dataType: "json",
                // contentType: 'application/json;charset=utf-8',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res > 0) {
                        alert('success');
                        $('#dialogClient').data("kendoDialog").open();
                        $("#lblMessage").html('Insurance Company Registered Successfully.!');
                    }
                    else {
                        alert('Record Not saved.!');
                        $('#dialogClient').data("kendoDialog").open();
                        $("#lblMessage").html('Insurance Company not Registered Successfully.!');
                    }
                },
                error: function () {
                    alert('Error while Registring the Insurance Company!.');
                    $("#lblMessage").html('Error while Registring the Insurance Company!.');
                }
            })
        })
        $('#btnUpload').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#fileUploadMotor").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                //  fileData.append('txtMotorMaster', '1');

                $.ajax({
                    url: '/Home/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        if (result == 1) {
                            alert("File Doesn't belongs to Producer Master");
                            //Swal.fire({
                            //    icon: 'error',
                            //    title: 'Oops...',
                            //    text: "File Doesn't belongs to Motor Policy",
                            //});
                        }
                        else if (result == -3) {
                            alert("File which you trying to upload is incorrect.!");
                            //Swal.fire({
                            //    icon: 'error',
                            //    title: 'Oops...',
                            //    text: "File which you trying to upload is incorrect.!",
                            //});
                        }
                        else if (result == "success") {
                            alert("File Uploaded Successfully!");
                            //Swal.fire({
                            //    icon: 'success',
                            //    title: 'Success!',
                            //    text: "File Uploaded Successfully!",

                            //}).then(
                            //    function () { window.location.href = "ProducerMaster"; });
                        }
                        else if (result == "same") {
                            alert("All the Records already exists. Try uploading new data.");
                            //Swal.fire({
                            //    icon: 'warning',
                            //    title: 'Warning!',
                            //    text: "All the Records already exists. Try uploading new data.",
                            //}).then(
                            //    function () { window.location.href = "ProducerMaster"; });
                        }
                        else {
                            //Swal.fire({
                            //    icon: 'error',
                            //    title: 'Oops...',
                            //    text: err.statusText,
                            //})
                            alert('Error while uploading.');
                        }

                    },
                    error: function (err) {
                        //alert(err.statusText);
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: err.statusText,
                        })
                    }
                });
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: "FormData is not supported.",
                })
            }
        });
        $('.fileuploader-input').click(function () {
            $("#fileUploadMotor").click();

        });
        $('#clearFiles').click(function () {
            $("#fileContainer").hide();
            $('#fileUploadMotor').val('');
            $("#btnUpload").attr("disabled", "disabled");
        });
        $('#clearFiles').hover(
            function () {
                $('#clearFiles').removeClass("btn-success").addClass("btn-danger");
                $('#clearFiles .fas').removeClass("fa-check").addClass("fa-trash");
            },
            function () {
                $('#clearFiles').removeClass("btn-danger").addClass("btn-success");
                $('#clearFiles .fas').removeClass("fa-trash").addClass("fa-check");
            });
        $('#fileUploadMotor').change(function (e) {
            var fileName = e.target.files[0].name;
            var fileSize = e.target.files[0].size;
            $("#fileContainer").show();
            $("#fileName").html(fileName);
            fileSize = (fileSize / 1024).toFixed(2);
            $("#fileSize").html(fileSize + " KB");
            //if (document.getElementById("fileUploadMotor").files.length == 0) {
            $("#btnUpload").removeAttr("disabled", "disabled");
            //}
            //alert('The file "' + fileName + '" has been selected.');
        });
    });
</script>

